<footer>    
  <div class="f-info">
    <div class="f-social">
      <i class="fa-brands fa-facebook"></i>&nbsp;
      <i class="fa-brands fa-square-twitter"></i>&nbsp;
      <i class="fa-brands fa-instagram"></i>&nbsp;
      <h6><i class="fa-regular fa-copyright"></i>WanderLust Private Limited</h6>
    </div>
    <div class="f-link">
      <a href="http://localhost:8080/privacy">Privacy </a>&nbsp;
      <a href="http://localhost:8080/terms">terms</a>&nbsp;
      <a href="http://localhost:8080/sitemap">sitemap</a>&nbsp;
      <a href="http://localhost:8080/companyDetail">Company Details</a>&nbsp;
    </div>
  </div>
</footer>
