<% layout("./layout/boilerplate.ejs") %>
<body>
  <div class="col-8 offset-3">
    <h2>New Entry</h2>
    <form method="post" action="http://localhost:8080/listing">
      <div class="mb-3">
        <label class="form-label" for="title">title:</label>
        <input
          class="form-control"
          type="text"
          name="listing[title]"
          placeholder="write your title"
        />
      </div>
      <br /><br />
      <div class="mb-3">
        <label class="form-label" for="description">description:</label>
        <input
          class="form-control"
          type="text"
          name="listing[description]"
          placeholder="write your description"
        />
      </div>
      <br /><br />
      <div class="mb-3">
        <label class="form-label" for="description">image url:</label>
        <input
          class="form-control"
          type="text"
          name="listing[image]"
          placeholder="write your url"
        />
      </div>
      <br /><br />
      <div class="mb-3 col">
        <label class="form-label" for="price">price:</label>
        <input
          class="form-control"
          type="number"
          name="listing[price]"
          placeholder="write your price"
        />
      </div>
      <br /><br />
      <div class="mb-3">
        <label class="form-label" for="location">location:</label>
        <input
          class="form-control"
          type="text"
          name="listing[location]"
          placeholder="write your location"
        />
      </div>
      <br /><br />
      <div class="mb-3">
        <label class="form-label" for="country">country:</label>
        <input
          class="form-control"
          type="text"
          name="listing[country]"
          placeholder="write your country"
        />
      </div>
      <br />
      <button class="btn btn-outline-danger">submit</button>
    </form>
  </div>
</body>
