<% layout("./layout/boilerplate.ejs") %>
<body>
  <div class="col-8 offset-3">
    <h2>New Entry</h2>
    <form
      method="post"
      action="http://localhost:8080/listing"
      novalidate
      class="needs-validation"
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label class="form-label" for="title">title:</label>
        <input
          class="form-control"
          type="text"
          name="listing[title]"
          placeholder="write your title"
          required
        />
        <div class="valid-feedback">Your tile looks good!</div>
      </div>
      <br /><br />
      <div class="mb-3">
        <label class="form-label" for="description">description:</label>
        <textarea
          class="form-control"
          type="text"
          name="listing[description]"
          placeholder="write your description"
          required
        ></textarea>
      </div>
      <br /><br />
      <div class="mb-3">
        <label class="form-label" for="description">Image: </label>
        <input
          class="form-control"
          type="file"
          name="listing[image]"
          placeholder="write your url"
        />
      </div>
      <br /><br />
      <div class="mb-3 col">
        <label class="form-label" for="price">price:</label>
        <input
          class="form-control"
          name="listing[price]"
          placeholder="write your price"
          required
        />
      </div>
      <br /><br />
      <div class="mb-3">
        <label class="form-label" for="location">location:</label>
        <input
          class="form-control"
          type="text"
          name="listing[location]"
          placeholder="write your location"
          required
        />
      </div>
      <br /><br />
      <div class="mb-3">
        <label class="form-label" for="country">country:</label>
        <input
          class="form-control"
          type="text"
          name="listing[country]"
          placeholder="write your country"
          required
        />
      </div>
      <input
        name="listing[owner]"
        style="visibility: hidden"
        type="text"
        value="<%= user_id %>"
      />

      <br />
      <button class="btn btn-outline-danger">submit</button>
    </form>
  </div>
</body>
