<%- layout("/layout/boilerplate.ejs") %>
<body>
  <div class="container">
    <form
      action="/login"
      method="post"
      novalidate
      class="needs-validation mt-3"
    >
      <h1 class="text-center mb-4">Log-In Credentials</h1>
      <div class="form-floating mb-3">
        <input
          type="text"
          class="form-control"
          id="floatingInput"
          name="username"
          placeholder="name@example.com"
          required
        />
        <label for="floatingInput">Username</label>
      </div>
      <div class="form-floating mb-3">
        <input
          type="password"
          class="form-control"
          id="floatingPassword"
          name="password"
          placeholder="Password"
          required
        />
        <label for="floatingPassword">Password</label>
        <div class="invalid-feedback">Wrong password</div>
      </div>
      <button type="submit" class="btn btn-success w-10">Login</button>
    </form>
  </div>
</body>
